* {
  padding: 0;
  margin: 0;
  border: 0;
  font-size: 100%;
  font-style: inherit;
  color: inherit;
  text-decoration: none;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
}

:root {
  --clr-primary: rgb(254,150,119);
  --clr-dark: rgb(1, 15, 41);
  --clr-neutral: rgb(184, 184, 184);
  --clr-light: rgb(245,245,245);
}

body {
  background: var(--clr-light);
  font-family: Arial, Helvetica, sans-serif;
  cursor: crosshair;
}

nav {
  margin: 4vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

nav .toggler {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 60px;
  height: 60px;
  opacity: 0;
  cursor: pointer;
}

nav .toggler:checked + .hamburger div {
  background-color: var(--clr-light);
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

nav .toggler:checked + .hamburger div:before, nav .toggler:checked + .hamburger div:after {
  top: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

nav .toggler:hover + .hamburger div {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

nav .toggler:checked:hover + .hamburger div {
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
}

nav .toggler:checked ~ .menu {
  visibility: visible;
}

nav .toggler:checked ~ .menu div {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition-duration: 1.5;
          transition-duration: 1.5;
}

nav .toggler:checked ~ .menu div div {
  opacity: 1;
  -webkit-transition: opacity 0.4s ease 0.4s;
  transition: opacity 0.4s ease 0.4s;
}

nav .hamburger {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 60px;
  height: 60px;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-color: var(--clr-neutral);
  border-width: 2px;
}

nav .hamburger div {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: 100%;
  height: 2px;
  background-color: var(--clr-light);
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

nav .hamburger div:before, nav .hamburger div:after {
  content: '';
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 2px;
  background: inherit;
}

nav .hamburger div:after {
  top: 10px;
}

nav .menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav .menu div {
  background: var(--clr-dark);
  border-radius: 50%;
  width: 200vw;
  height: 200vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

nav .menu div div {
  text-align: center;
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

nav .menu div div ul {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

nav .menu div div ul:hover li a {
  opacity: 0.9;
}

nav .menu div div ul li {
  list-style: none;
  font-size: calc(15px + 1vw);
  padding: 1rem;
}

nav .menu div div ul li:before {
  content: attr(data-text);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: var(--clr-light);
  font-size: 6em;
  font-weight: 700;
  pointer-events: none;
  opacity: 0;
  letter-spacing: 20px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  white-space: nowrap;
}

nav .menu div div ul li:hover:before {
  opacity: 0.1;
  letter-spacing: 0px;
}

nav .menu div div ul li a {
  text-decoration: none;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background-color: var(--clr-light);
  color: var(--clr-dark);
  padding: 6px 15px;
  text-transform: uppercase;
  display: inline-block;
  z-index: 1;
}

nav .menu div div ul li a:hover {
  z-index: 5;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  opacity: 1;
}

.about, .experiences, .competitions, .skills, .projects {
  padding: 0 10vw 2vh;
  background-color: var(--clr-light);
  color: var(--clr-dark);
}

.secondary_heading {
  padding: calc(20px + 1vw) 0;
  font-size: calc(25px + 1vw);
  font-weight: 700;
  text-align: center;
}

.welcome {
  padding: 2vh;
  text-align: center;
  position: relative;
  width: 100%;
  height: 100vh;
}

.welcome #particles-js {
  background: var(--clr-dark);
  height: 100%;
}

.welcome #particles-js .topbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.welcome #particles-js .topbar div {
  margin: auto;
  padding: 20px 0;
}

.welcome #particles-js .topbar div a {
  color: var(--clr-light);
  text-decoration: none;
}

.welcome #particles-js .topbar div a:hover {
  text-decoration: underline;
  color: var(--clr-primary);
}

.welcome #particles-js .text {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.welcome #particles-js .text span {
  text-transform: uppercase;
  display: block;
}

.welcome #particles-js .text .text1 {
  color: var(--clr-light);
  font-size: calc(20px + 3vw);
  font-weight: 700;
  white-space: nowrap;
  letter-spacing: 2px;
  margin-bottom: 20px;
  position: relative;
  background: transparent;
  -webkit-animation: text1 2000ms 1;
          animation: text1 2000ms 1;
}

.welcome #particles-js .text .text2 {
  color: var(--clr-primary);
  font-size: calc(10px + 2vw);
  font-weight: 700;
  letter-spacing: 4px;
  margin-bottom: 20px;
  -webkit-animation: text2 2000ms 1;
          animation: text2 2000ms 1;
}

@-webkit-keyframes text1 {
  0% {
    color: var(--clr-dark);
    margin-bottom: -40px;
  }
  30% {
    letter-spacing: 12px;
    margin-bottom: -40px;
  }
  75% {
    letter-spacing: 2px;
    margin-bottom: -40px;
  }
}

@keyframes text1 {
  0% {
    color: var(--clr-dark);
    margin-bottom: -40px;
  }
  30% {
    letter-spacing: 12px;
    margin-bottom: -40px;
  }
  75% {
    letter-spacing: 2px;
    margin-bottom: -40px;
  }
}

@-webkit-keyframes text2 {
  0% {
    color: transparent;
  }
  80% {
    color: transparent;
  }
}

@keyframes text2 {
  0% {
    color: transparent;
  }
  80% {
    color: transparent;
  }
}

.about {
  height: 100%;
  padding: 0 35vw 0 10vw;
  position: relative;
  background-color: var(--clr-light);
}

.about .about-pic {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.about .about__container {
  height: 100%;
  width: 100%;
  background: rgba(236, 236, 236, 0.85);
  position: relative;
  text-align: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: auto 2vw;
  font-size: calc(13.5px + 0.5vw);
}

.about .about__container .mission-statement {
  padding: 2rem 5vw;
  text-align: left;
  line-height: calc(22px + 0.5vw);
}

.about .about__container .mission-statement a {
  text-decoration: underline;
}

.about .about__container .chat {
  padding: 0 5vw 0.5em 5vw;
  width: 100%;
  text-align: left;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.about .about__container .contact-me {
  padding-bottom: 1em;
  font-size: calc(18px + 0.5vw);
}

.about .about__container .contact-me .text {
  padding: 5vh 0;
}

@media screen and (max-width: 900px) {
  .about {
    padding: 0;
    height: auto;
  }
  .about .about__container {
    height: auto;
  }
}

.card {
  -webkit-box-shadow: 0 0 15px rgba(100, 100, 100, 0.2);
          box-shadow: 0 0 15px rgba(100, 100, 100, 0.2);
  padding: 2vw;
  margin-bottom: 50px;
}

.card .media-container .img {
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.card .media-container iframe {
  max-width: 100%;
}

.card .details {
  padding: 2vw;
}

.card .details .info {
  display: -ms-grid;
  display: grid;
  grid-gap: 0 2vw;
  -ms-grid-columns: auto 2px auto;
      grid-template-columns: auto 2px auto;
  margin-bottom: 5vw;
}

.card .details .info .job .position {
  font-size: calc(15px + 1vw);
  padding: 0 0 5px 0;
  font-weight: 600;
}

.card .details .info .job .date {
  font-size: calc(8px + 1vw);
  font-weight: 400;
}

.card .details .info .divide-line {
  background-color: var(--clr-dark);
}

.card .details .info .company {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card .details .info .company .organization-pic img {
  width: calc(60px + 1vw);
}

.card .details .info .company .organization-pic img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.card .details .info .company .organization {
  padding-left: 2vw;
  font-size: calc(8px + 1vw);
  font-weight: 400;
}

.card .details ul li {
  font-size: calc(10px + 0.8vw);
  padding-bottom: 5px;
}

@media screen and (max-width: 900px) {
  #pc1, #pc2 {
    display: none;
  }
}

@media screen and (min-width: 901px) {
  #mobile1, #mobile2 {
    display: none;
  }
}

@media screen and (min-width: 900px) {
  .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .card .media-container iframe {
    width: 100vw;
    height: 100%;
  }
}

.projects .software .softhead, .projects .software .hardhead, .projects .hardware .softhead, .projects .hardware .hardhead {
  color: var(--clr-secondary);
  font-size: calc(20px + 1vw);
}

.projects .software .box, .projects .hardware .box {
  height: auto;
  margin: 10vh auto 20vh;
  position: relative;
}

.projects .software .box .float, .projects .hardware .box .float {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.projects .software .box .float:hover, .projects .hardware .box .float:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.projects .software .box .projcard, .projects .hardware .box .projcard {
  position: relative;
  background-color: transparent;
  margin: 0 10px;
  height: 520px;
  width: 400px;
}

.projects .software .box .projcard .vid-container .img, .projects .software .box .projcard .vid-container video, .projects .software .box .projcard .img-container .img, .projects .software .box .projcard .img-container video, .projects .hardware .box .projcard .vid-container .img, .projects .hardware .box .projcard .vid-container video, .projects .hardware .box .projcard .img-container .img, .projects .hardware .box .projcard .img-container video {
  width: 400px;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.projects .software .box .projcard .text, .projects .hardware .box .projcard .text {
  padding-left: 10px;
}

.projects .software .box .projcard .text .name, .projects .hardware .box .projcard .text .name {
  font-size: 20px;
  padding: 10px 10px 10px 0;
}

.projects .software .box .projcard .text .tool, .projects .hardware .box .projcard .text .tool {
  font-size: 15px;
  padding-bottom: 10px;
}

.projects .software .box .projcard .text .explanation, .projects .hardware .box .projcard .text .explanation {
  color: var(--clr-dark);
}

.projects .software .slick-dots, .projects .hardware .slick-dots {
  position: absolute;
  bottom: -45px;
  display: block;
  width: 100%;
  padding: 0;
  list-style: none;
  text-align: center;
  z-index: 0;
}

.projects .software .slick-dots li, .projects .hardware .slick-dots li {
  position: relative;
  display: inline-block;
  width: 6px;
  height: 6px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.projects .software .slick-dots li button, .projects .hardware .slick-dots li button {
  display: none;
}

.projects .software .slick-dots li:before, .projects .hardware .slick-dots li:before {
  top: 1px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  content: "";
  width: 6px;
  height: 6px;
  background-color: lightgrey;
  position: absolute;
}

.projects .software .slick-dots li.slick-active:before, .projects .hardware .slick-dots li.slick-active:before {
  top: 0;
  width: 8px;
  height: 8px;
  margin-left: -2px;
  background-color: black;
}

.projects .software .slider-prev, .projects .hardware .slider-prev {
  left: 10%;
}

.projects .software .slider-next, .projects .hardware .slider-next {
  right: 10%;
}

.projects .software .slick-arrow, .projects .hardware .slick-arrow {
  z-index: 5;
  top: calc(100% + 25px);
  position: absolute;
  cursor: pointer;
}

@media screen and (max-width: 500px) {
  .projects .software .box, .projects .hardware .box {
    width: 270px;
  }
  .projects .software .box .projcard, .projects .hardware .box .projcard {
    height: 380px;
    width: 250px;
  }
  .projects .software .box .projcard .vid-container .img, .projects .software .box .projcard .vid-container video, .projects .software .box .projcard .img-container .img, .projects .software .box .projcard .img-container video, .projects .hardware .box .projcard .vid-container .img, .projects .hardware .box .projcard .vid-container video, .projects .hardware .box .projcard .img-container .img, .projects .hardware .box .projcard .img-container video {
    width: 250px;
    height: auto;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

@media screen and (max-width: 1200px) and (min-width: 501px) {
  .box {
    width: 420;
  }
}

@media screen and (max-width: 1600px) and (min-width: 1201px) {
  .box {
    width: 840;
  }
}

@media screen and (max-width: 2000px) and (min-width: 1601px) {
  .box {
    width: 1260;
  }
}

@media screen and (min-width: 2001px) {
  .box {
    width: 1680;
  }
}

.skills .grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  background-color: transparent;
}

.skills .grid-container .flip-card {
  -webkit-perspective: 1000px;
          perspective: 1000px;
  margin: calc(10px + 1vw);
  height: 20vh;
}

.skills .grid-container .flip-card .flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  -webkit-transition: -webkit-transform 0.8s;
  transition: -webkit-transform 0.8s;
  transition: transform 0.8s;
  transition: transform 0.8s, -webkit-transform 0.8s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.skills .grid-container .flip-card .flip-card-inner .flip-card-front, .skills .grid-container .flip-card .flip-card-inner .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.skills .grid-container .flip-card .flip-card-inner .flip-card-front {
  z-index: 1;
  background-color: var(--clr-dark);
  color: var(--clr-light);
}

.skills .grid-container .flip-card .flip-card-inner .flip-card-front div {
  position: relative;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: calc(15px + 1vw);
}

.skills .grid-container .flip-card .flip-card-inner .flip-card-back {
  z-index: 3;
  background-color: var(--clr-neutral);
  color: var(--clr-dark);
  -webkit-transform: rotateY(180deg) scale(1.15);
          transform: rotateY(180deg) scale(1.15);
}

.skills .grid-container .flip-card .flip-card-inner .flip-card-back ul {
  padding: 2vw;
  position: relative;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: calc(12px + 0.5vw);
}

.skills .grid-container .flip-card:hover {
  z-index: 2;
}

.skills .grid-container .flip-card:hover .flip-card-inner {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.skills .grid-container .flip-card:hover .flip-card-inner .flip-card-front {
  z-index: 1;
}

.skills .grid-container .flip-card:hover .flip-card-inner .flip-card-back {
  z-index: 3;
}

footer {
  background-color: var(--clr-dark);
  color: var(--clr-light);
  text-align: center;
}

footer p {
  font-size: 14px;
  color: var(--clr-neutral);
  padding: 20px;
}

.links {
  margin: auto;
  width: 50%;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.links a {
  height: 60px;
  width: 60px;
}

.links a i {
  font-size: calc(25px + 1vw);
  margin: auto;
}

.links a img {
  height: calc(25px + 1vw);
  width: calc(25px + 1vw);
}

.links a i:hover, .links a img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--clr-dark);
}

::-webkit-scrollbar-thumb {
  background: var(--clr-neutral);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--clr-light);
}
/*# sourceMappingURL=newstyle.css.map */