* {
    padding: 0;
    margin: 0;
    border: 0;
	font-size: 100%;
    font-style: inherit;
    color: inherit;
    text-decoration: none;
	vertical-align: baseline;
    box-sizing: border-box;
    list-style: none;
}

:root {
    --clr-primary: rgb(254,150,119);//#ee6352;
    --clr-dark: rgb(1, 15, 41);
    --clr-neutral: rgb(184, 184, 184);
    --clr-light: rgb(245,245,245);
}

body {
    background: var(--clr-light);
    font-family: Arial, Helvetica, sans-serif; 
    cursor: crosshair;
}

nav {
    margin: 4vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    //toggler to activate menu
    .toggler{
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        width: 60px;
        height: 60px;
        opacity: 0;
        cursor: pointer;
        //hamburger animate toggler
        &:checked + .hamburger div {
            background-color: var(--clr-light);
            transform: rotate(135deg);
            &:before, &:after{
                top: 0;
                transform: rotate(90deg);
            }
        }
        &:hover + .hamburger div {
            transform: scale(1.2);
        }
        &:checked:hover + .hamburger div {
            transform: rotate(225deg);
        }
        //menu animate toggler
        &:checked ~ .menu{
            visibility: visible;
            div{
                transform: scale(1);
                transition-duration: 1.5;
                div{
                    opacity: 1;
                    transition:  opacity 0.4s ease 0.4s;
                }
            }
        }
    }
    //hamburger container box
    .hamburger{
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 60px;
        height: 60px;
        padding: 1rem;
        // background-color: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        border-color: var(--clr-neutral);
        border-width: 2px;
        //create lines
        div{
            //middle line
            position: relative;
            flex: none;
            width: 100%;
            height: 2px;
            background-color: var(--clr-light);
            transition: background-color 0.5s ease;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all 0.4s ease;
            //create both top and bottom lines at top
            &:before, &:after{
                content: '';
                position: absolute;
                z-index: 1;
                top: -10px;
                width: 100%;
                height: 2px;
                background: inherit;
            }
            //bring bottom line to bottom
            &:after{
                top: 10px;
            }
        }
    }
    //items inside
    .menu{
        //put items in center of page
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        visibility: hidden;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        //background
        div{
            background: var(--clr-dark);
            border-radius: 50%;
            width: 200vw;
            height: 200vw;
            display: flex;
            flex: none;
            align-items: center;
            justify-content: center;
            transform: scale(0);
            transition: all 0.4s ease;
            div{
                text-align: center;
                max-width: 90vw;
                max-height: 100vh;
                opacity: 0;
                transition: opacity 0.4s ease;
                ul li{
                    list-style: none;
                    color: var(--clr-light);
                    font-size: 2rem;
                    padding: 1rem;
                    a{
                        color: inherit;
                        text-decoration: none;
                        transition: color 0.4s ease;
                    }
                }
            }
        }
    }
}

.about, .experiences, .competitions, .skills, .projects {
    padding: 0 10vw 2vh;
    background-color: var(--clr-light);
    color: var(--clr-dark);
}

.secondary_heading{
    padding: 50px 0;
    font-size: calc(30px + 0.5vw);
    font-weight: 700;
    text-align: center;
    // color: var(--clr-primary);
}

.welcome{
    padding: 2vh;
    text-align:center;
    position: relative;
    width: 100%;
    height:100vh;
    #particles-js{
        background: var(--clr-dark);
        height:100%;
        .topbar{
            display: flex;
            flex-direction: row;
            div{
                margin:auto;
                padding: 20px 0;
                a{
                    color:var(--clr-light);
                    text-decoration: none;
                }
                a:hover {
                    text-decoration: underline;
                    color: var(--clr-primary);
                  }
            }
        }
        .text{
            position: absolute;
            left:50%;
            top:50%;
            // width: 800px;
            // height: 300px;
            // padding-top: 80px;
            transform: translate(-50%,-50%);
            // background-color: rgba(192, 192, 192, 0.75);  
            span{
                text-transform: uppercase;
                display: block;
            }
            .text1{
                color: var(--clr-light);
                font-size: calc(20px + 3vw);
                font-weight: 700;
                white-space: nowrap;
                letter-spacing: 4px;
                margin-bottom: 20px;
                position: relative;
                background: transparent;
                animation: text1 2000ms 1;
            }
            .text2{
                color: var(--clr-primary);
                font-size: calc(10px + 2vw);
                font-weight: 700;
                letter-spacing: 4px;
                margin-bottom: 20px;
                animation: text2 2000ms 1;
            }
            //TODO: change px to em
            @keyframes text1{
                0%{
                    color: var(--clr-dark);
                    margin-bottom: -40px;
                }
                30%{
                    letter-spacing: 12px;
                    margin-bottom: -40px;
                }
                75%{
                    letter-spacing: 4px;
                    margin-bottom: -40px;
                }
            }

            @keyframes text2{
                0%{
                    color: transparent;
                }
                80%{
                    color: transparent;
                }
            }
        }
    }
}

.about{
    padding: 0 10vw;
    position:relative;
    padding-left: 35vw;
    background-color: var(--clr-light);
    .about-pic{
        position: absolute;
        left: 0;
        width:100%;
        height:100%;
        object-fit:cover;
    }
    .about__container{
        height: 100%;
        width: 100%;
        background: rgba(236,236,236,0.85);
        position:relative;
        text-align:center;
        padding: 0 20px;
        font-size: calc(13.5px + 0.5vw);
        .quote{
            padding: 0 1em;
            font-size: calc(20px + 0.7vw);
            font-weight: 700;
        }
        .author{
            padding-left: 25%;
            padding-top: 1em;
        }
        .mission-statement{
            padding: 2em;
            text-align: left;
            line-height: calc(22px + 0.5vw);
        }
        .spare-time{
            padding: 0 2em 0.5em 2em ;
            text-align: left;
            div{
                padding-bottom: 0.5em;
            }
            ul{
                padding-left: 20px;
                li{
                    padding-bottom: 0.1em;
                }
            }
        }
        .contact-me{
            padding-bottom: 1em;
            font-size: calc(18px + 0.5vw);
            .text{
                padding: 15px 0;
            }
        }
    }
}

.card {
    // display: flex;
    box-shadow: 0 0 15px rgba(100, 100, 100, 0.2);
    padding: 20px;
    margin-bottom: 50px;
    // height: 100%;
    .media-container{
        .img{
            // height:100%;
            width: 100%;
            object-fit: cover;
        }
        img#pc1, img#pc2{
            display: none;
        }
    }
    .content{
    //     padding: 20px;
        .position{
            font-size: 30px;
            padding: 10px 0;
            font-weight: 600;
        }
        .date{
            font-size: 18px;
            padding: 10px 0;
            font-weight: 400;
        }
        .organization-container{
            .organization-pic{
                max-height: 100px;
                max-width: 500px;
            }
            .organization{
                font-size: 25px;
                font-weight: 400;
            }
        }
        
        .text {
    //         padding: 40px 40px;
            ul li{
                font-size: 15px;
                padding-bottom: 5px;
            }
        }
    }
}

.projects{
    .software, .hardware{
        .softhead, .hardhead{
            color: var(--clr-secondary);
            font-size:40px;
            position: absolute;
            margin-left: 0;
            margin-top: 180px;
            transform: rotate(270deg);
            transform-origin: 0 0;
        }
        .hardhead{
            margin-top: 200px;
        }
        // slick carousel
        .box {
            height: auto;
            margin: 10vh auto;
            position: relative;
            .float{transition:all 0.3s ease;}
            .float:hover{transform: scale(1.05);}
            .projcard {
                position: relative;
                background-color: transparent;
                margin: 0 10px;
                height: 520px;
                width: 400px;
                .vid-container, .img-container {
                    .img, video{
                        width: auto;
                        height: 400px;
                        object-fit: cover;
                    }
                }
                .text{
                    padding-left: 10px;
                    .name{
                        font-size: 20px;
                        padding: 10px 10px 10px 0;
                    }
                    .tool{
                        font-size: 15px;
                        padding-bottom: 10px;
                    }
                    .explanation{
                        color: var(--clr-dark);
                    }
                }
            }
        }
        
        .slick-dots {
            position: absolute;
            bottom: -45px;
            display: block;
            width: 100%;
            padding: 0;
            list-style: none;
            text-align: center;
            z-index: 0;
            li {
                position: relative;
                display: inline-block;
                width: 6px;
                height: 6px;
                margin: 0 5px;
                padding: 0;
                cursor: pointer;
                button {
                    display: none;
                }
        
                &:before {
                    top: 1px;
                    -webkit-transition: all 0.5s;
                    transition: all 0.5s;
                    content: "";
                    width: 6px;
                    height: 6px;
                    background-color: lightgrey;
                    position: absolute;
                }
        
                &.slick-active:before {
                    top: 0;
                    width: 8px;
                    height: 8px;
                    margin-left: -2px;
                    background-color: black;
                }
            }
        }
        
        .slider-prev {left: 25%;}
        .slider-next {right: 25%;}
        .slick-arrow {
            z-index: 5;
            top: 105%;
            position: absolute;
            cursor: pointer;
        }
    }
    
}

@media screen and (max-width: 1200px) {.box {width: 420;}}
@media screen and (max-width: 1600px) and (min-width: 1201px) {.box {width: 840;}}
@media screen and (max-width: 2000px) and (min-width: 1601px) {.box {width: 1260;}}
@media screen and (min-width: 2001px) {.box {width: 1680;}}

.skills{
    .skills-heading{
        color:var(--clr-dark);
        padding: 50px;
        font-size: calc(40px + 0.5vw);
        font-weight: 700;
    }
    .grid-container{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        background-color: transparent;
        .flip-card {
            perspective: 1000px;
            margin: 20px;
            height:20vh;
            .flip-card-inner {
                position: relative;
                width: 100%;
                height: 100%;
                text-align: center;
                transition: transform 0.8s;
                transform-style: preserve-3d;
                .flip-card-front, .flip-card-back {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    backface-visibility: hidden;

                }
                .flip-card-front {
                    z-index: 1;
                    background-color: var(--clr-dark);
                    color: var(--clr-light);
                    div{
                        position:relative;
                        left:50%;
                        top:50%;
                        transform: translate(-50%,-50%);
                        font-size: 2rem;
                    }
                }
                .flip-card-back {
                    z-index: 3;
                    background-color: var(--clr-neutral);
                    color: var(--clr-dark);
                    transform: rotateY(180deg) scale(1.15);
                    ul{
                        position:relative;
                        left:50%;
                        top:50%;
                        transform: translate(-50%,-50%);
                        font-size: 1rem;
                    }
                    
                }
              }
            &:hover {
                z-index: 2;
                .flip-card-inner{
                    transform: rotateY(180deg); 
                    .flip-card-front{
                        z-index: 1;
                    } 
                    .flip-card-back{
                        z-index: 3;
                    }
                }
            }
        }
    }
}

footer{
    background-color: var(--clr-dark);
    color: var(--clr-light);
    text-align: center;
    .footquote{
        padding-top: 50px;
        padding-bottom: 30px;
        font-size: calc(40px + 0.5vw);
        font-weight: 600;
    }
    p{
        font-size: 14px;
        color: var(--clr-neutral);
        padding: 20px;
    }
}

//for icons to resume, github, linkedin, email
.links{
    margin: auto;
    width: 50%;
    height: 60px;
    display: flex;
    justify-content: center;
    a{
        height: 60px;
        width: 60px;
        
        i{
            font-size:40px;
            margin: auto;
        }
        img{
            height:40px;
            width:40px;
            // translate: 0 5px;
        }
        i:hover, img:hover{
            transform: scale(1.2);
        }
    }
}

//scrollbar code
::-webkit-scrollbar {width: 10px;}
::-webkit-scrollbar-track {background: var(--clr-dark);}
::-webkit-scrollbar-thumb {background: var(--clr-neutral); border-radius: 5px;}
::-webkit-scrollbar-thumb:hover {background: var(--clr-light);}